.contact {
    padding: 80px 20px;
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(15px);
    transition:.4s;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.05);
    color: white;
    backdrop-filter: blur(10px);
}

.contact-form textarea {
    min-height: 120px;
    resize: none;
}

.contact-form button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #38bdf8, #22c55e);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    transform: scale(1.05);
}

.status {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #38bdf8;
}